.modal-settings {
  position: relative;
  background-color: white;
  width: 80%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;

  .modal-settings-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: initial;
    .modal-settings-form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 60%;
      
    }
  }
}