.stats-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .stats {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  table {
    border:none;
    border-collapse: collapse;

    td {
      width: 50px;
    }
  }
}

@media (min-width: 960px) {
  .stats-box {
    // width: 80%;
  }
}