.chat-room-container {
    width: 240px;
    height: 560px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 4px;
}

.room-name {
    margin-top: 0;
    font-size: 20px;
}

.messages-container {
    flex: 1;
    min-height: 100px;
    overflow: auto;
}

.messages-list {
    list-style-type: none;
    padding: 0;
}

.new-message-input-field {
    height: 60px;
    max-height: 100%;
    font-size: 20px;
    padding: 8px 8px;
    resize: none;
}

.message-item {
    width: 60%;
    margin: 8px;
    padding: 6px 6px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
}

.my-message {
    background-color: #31a24c;
    margin-left: auto;
}

.received-message {
    background-color: #3f4042;
    margin-right: auto;
}

/* .send-message-button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #31a24c;
    padding: 6px 6px;
    border: none;
} */

.messages-container, .new-message-input-field, .send-message-button {
    border-color: black;
}

.text-send{
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: space-between
}

