.chat-room-container {
    width: 200px;
    height: 560px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 4px;
}
/* 
.room-name {
    margin-top: 0;
    font-size: 20px;
} */
.chat-popup {
    // height: 500px;
    // width: 500px;

}

.messages-container {
    flex: 1;
    min-height: 100px;
    overflow: auto;
}

.messages-list {
    list-style-type: none;
    padding: 0;
}

.new-message-input-field {
    font-size: 20px;
    padding: 8px 8px;
    resize: none;
    border: 3px solid black;
}

.message-item {
    width: 60%;
    margin: 8px;
    padding: 6px 6px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
}

.my-message {
    background-color: #31a24c;
    margin-left: auto;
}

.received-message {
    background-color: #3f4042;
    margin-right: auto;
}


.messages-container, .new-message-input-field, .send-message-button {
    border-color: black;
}

.text-send{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.send-message-button {
    margin-left: 0px;
    margin-right: 0px;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }