.navbar{
  height: 15vh;
  font-size: 150%;

  .logo {
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100%;

    .logo-img{
      margin: 0 0 0 -.5em;
      height:13.5vh;
    }
    .logo-name{
      font-size: 5vh;
      margin: 0 1em 0 -.25em;
      cursor: pointer;
    }
  }

  .user-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5vh;
    .user-login-name{
      margin: 0 0 0 0;
    }
  }
}

.navbar-toggler {
  button {
    width: 10px;
  }
}