.navbar{
  height: 100%;

  .logo {
    display:flex;
    flex-direction: row;
    align-items: center;
    .logo-name{
      margin: 0 1em 0 -.5em;
      cursor: pointer;
    }
  }
  .user-login{
    display: flex;
    align-items: center;
  }
}

.navbar-toggler {
  button {
    width: 10px;
  }
}